@model IEnumerable<BaristaHome.Models.Feedback>

@{
    ViewData["Title"] = "Owner";
    Layout = null;
}


<style>
    * {
        box-sizing: border-box;
    }

    .row {
        display: flex;
        margin-left: -5px;
        margin-right: -5px;
    }

    .column {
        flex: 50%;
        padding: 5px;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: left;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }

    .div2 {
        width: 300px;
        height: 400px;
        padding: 50px;
        border: 1px solid red;
        margin-top: 100px;
    }

    td:hover {
        background-color: gray;
        cursor: pointer;
    }

    /*#resolve{
            float: right;
            margin-top: 20px;
            margin-right: 80px;
            position: relative;
            border: 1px solid;

        }*/

    #resolve {
        position: relative;
        top: 0%;
        left: 64%;
        width: 120px;
        margin-top: 20px;
    }

</style>




<!--Nav bar area-->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Barista Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaristaHome.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" /> <!--Stylesheet-->
</head>
<body>
    <!--Nav bar area-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
            <a class="nav-link pink-button-left" asp-area="" asp-controller="" asp-action="">Home</a>
            <div class="center">
                <h1 class="title">Feedbacks</h1>
            </div>
        </nav>
    </header>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Barista Home - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="row">
    <div class="column">
        <table style="width:50%; margin-left:200px; margin-top:80px" ;>
            <thead>
                <tr>
                    <th>Topics</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                            @*<a class="btn btn-outline-dark" asp-action="Delete" asp-route-id="@item.FeedbackId">Delete</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="column">
        @*<input type="text" id="Name" name="Name" style="width:80%; margin-right:100px; margin-top:80px; height:400px" ;>*@
        <table class="table-feedback" table id="tblFeedbacks" style="width:80%; margin-right:100px; margin-top:80px; height:400px">
            <thead>
                <tr>
                    <th>
                        Description
                    </th>

                </tr>
            </thead>

            <tr>
                <td id="description">Click on a topic to display</td>
            </tr>

            <tbody></tbody>
        </table>

        <button id="resolve" style="background-color:#FFDCF4">
            Resolve
        </button>

    </div>


</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript"></script>

@* When table row is clicked, it will display its description on the right side  *@
<script>
    var elements = document.getElementsByTagName('td');  // gets all elements with td
    btnResolve = document.getElementById("resolve");
    
    let savedDescription;
    let savedID;

    for (var i = 0; i < elements.length; i++) {
        let element = (elements)[i];

        element.addEventListener("click", function () {
            let title = element.innerHTML.trim();
            let description;
            $(function () {
                $.ajax({
                    type: "POST",
                    url: "/Feedback/SearchDescription",
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (response) {
                        alert(response.d);
                    },
                    error: function (response) {
                        alert(response.d);
                    }
                });
            });

            function OnSuccess(response) {

                let currId;
                for (var i = 0; i < response.length; i++) {
                    // console.log(response[i].title == title) USE THIS TO PRINT TO DEBUG
                    if (response[i].title == title) {
                        description = response[i].description
                        currId = response[i].feedbackId
                        savedDescription = response[i].description
                        savedID = response[i].feedbackId
                    }
                }

                document.getElementById("description").innerHTML = description;

            };
        });
    }

    btnResolve.addEventListener("click", function () {
        console.log("SAVEDID IN BTN: " + savedID)
        $(function () {
            $.ajax({
                type: "POST",
                url: "/Feedback/Delete",
                data: JSON.stringify(savedID),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: console.log("WORKED"),
                failure: function (response) {
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        });
    });
    

</script>








@* When table row is clicked, it will display its description on the right side  *@

@*
<script>
    var elements = document.getElementsByTagName('td');  // gets al elements with td
    for (var i = 0; i < elements.length; i++) {
        let element = (elements)[i]

        element.addEventListener("click", function () {
            let title = element.innerHTML.trim();
            let description;
            $(function () {
                $.ajax({
                    type: "POST",
                    url: "/Feedback/SearchDescription",
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: OnSuccess,
                    failure: function (response) {
                        alert(response.d);
                    },
                    error: function (response) {
                        alert(response.d);
                    }
                });
            });

            function OnSuccess(response) {


                for (var i = 0; i < response.length; i++) {

                    // console.log(response[i].title == title) USE THIS TO PRINT TO DEBUG

                    if (response[i].title == title) {
                        description = response[i].description
                    }
                }

                document.getElementById("description").innerHTML = description;
            };
        });
    }
</script>

*@