@model BaristaHome.Models.User

@{
    ViewData["Title"] = "ChangePassword";
}

<style>
    .edit-button {
        background-color: white;
        border-color: rgba(219, 113, 152, 0.67);
        color: rgba(219, 113, 152, 0.67);
        height: 45px;
        width: 120px;
        border-style: solid;
        transition: background-color 0.15s, color 0.15s;
    }

    .page-title {
        display: flex;
        padding-bottom: 30px;
        font-size: 30px;
        padding-left: 20px;
        font-weight: 500;
    }

    .background {
        background-color: antiquewhite;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .pink-button {
        background-color: pink;
        color: black;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 0.15s, color 0.15s;
        display: inline-block;
    }

    .pink-button:hover {
        background-color: lightpink;
        cursor: pointer;
    }

    .pink-button:active {
        background-color: rgba(219, 113, 152, 0.67);
    }


    .edit-button:hover {
        background-color: lightpink;
        border-color: lightpink;
        color: white;
    }
</style>

<div style="padding-left: 200px; padding-right:200px;">
    @if (Model.RoleId == 1 || Model.RoleId == 2)
    {
        <button class="pink-button" >
            <a asp-controller="Worker" asp-action="WorkerEdit">Back</a>
        </button>
    }
    else
    {
        <button class="pink-button">
            <a asp-controller="Worker" asp-action="OwnerSelfEdit">Back</a>
        </button>
    }

    <div class="background">

        <div style="vertical-align:middle;">
            <p class="page-title">Change Password</p>

            <div class="row">
                <div class="col-md-4">

                    <form asp-action="ChangePassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UserId" />
                        <input type="hidden" asp-for="FirstName" />
                        <input type="hidden" asp-for="LastName" />
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Color" />
                        <input type="hidden" asp-for="InviteCode" />
                        <input type="hidden" asp-for="UserImage" />
                        <input type="hidden" asp-for="UserImageData" />
                        <input type="hidden" asp-for="RoleId" />
                        <input type="hidden" asp-for="UserDescription" />
                        <input type="hidden" asp-for="Wage" />
                        <input type="hidden" asp-for="StoreId" />


                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>



                        <input type="submit" value="Save" style="margin-top: 10px;" class="pink-button" />



                    </form>
                </div>
            </div>

        </div>

    </div>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
