@model BaristaHome.Models.User

@{
    ViewData["Title"] = "OwnerEdit";
}

<p>Edit a worker</p>
<p>@Model.FirstName @Model.LastName</p>
@*Owner POV for Edit, worker controller*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OwnerEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="InviteCode" />
            <input type="hidden" asp-for="StoreId" />
            <input type="hidden" asp-for="UserImageData" />
            <input type="hidden" asp-for="UserImage" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Password" />
            <input type="hidden" asp-for="ConfirmPassword" value="@Model.Password" />
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wage" class="control-label"></label>
                <input asp-for="Wage" type="number" min="0" max="999" step=".01" class="form-control" />
                <span asp-validation-for="Wage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserDescription" class="control-label"></label>
                <input asp-for="UserDescription" class="form-control" />
                <span asp-validation-for="UserDescription" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label">Role</label>
                <select asp-for="RoleId" class="form-control">
                    <option value="1">Worker</option>
                    <option value="2">Manager</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
