@model BaristaHome.Models.Shift

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Shift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Date</label>
                <input type="date" asp-for="ShiftDate" class="form-control" />
                <span asp-validation-for="ShiftDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Worker Name</label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>

            <div class="form-group">
                <label class="control-label">Start Shift</label>
                <input type="time" asp-for="StartShift" class="form-control" />
                <span asp-validation-for="StartShift" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">End Shift</label>
                <input type="time" asp-for="EndShift" class="form-control" />
                <span asp-validation-for="EndShift" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="StoreId" value="@User.FindFirst("StoreId").Value" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
