@model BaristaHome.Models.Shift

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Shift</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShiftId" />
            <div class="form-group">
                <label asp-for="StartShift" class="control-label"></label>
                <input asp-for="StartShift" class="form-control" />
                <span asp-validation-for="StartShift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndShift" class="control-label"></label>
                <input asp-for="EndShift" class="form-control" />
                <span asp-validation-for="EndShift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StoreId" class="control-label"></label>
                <select asp-for="StoreId" class="form-control" asp-items="ViewBag.StoreId"></select>
                <span asp-validation-for="StoreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
