@{
    ViewData["Title"] = "Shared Calendar";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="~/css/calendar.css" />
    
</head>
<body>
    @section Scripts {
        <script src="~/js/calendar.js" asp-append-version="true"></script>
    }

    <div id="calendar"></div>
</body>
</html>
