@model BaristaHome.Models.InventoryItem

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}


<link rel="stylesheet" href="~/css/Inventory.css" asp-append-version="true" />

<!--Nav bar area-->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Barista Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaristaHome.styles.css" asp-append-version="true" />
</head>
<body>
    <!--Nav bar area-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
            <a class="nav-link pink-button-left" asp-area="" asp-controller="inventory" asp-action="index">Back</a>
            <div class="center">
                <h1 class="title">Edit Item</h1>
            </div>
        </nav>
    </header>

</body>
</html>


<style>
/*h1 {
  text-align: center;
}*/
</style>



@*<h4>@ViewBag.ItemName</h4>*@

<div class="container">
    <div class="col-md-4" style="margin: 0 auto; width: 50%;">
        <h1 style="text-align=:center">Confirm changes for @ViewBag.ItemName </h1>
     </div>
    <div class="col-md-4" style="margin: 0 auto;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <input type="hidden" asp-for="StoreId" />
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerUnit" class="control-label"></label>
                <input asp-for="PricePerUnit" class="form-control" />
                <span asp-validation-for="PricePerUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input type="submit" value="Save" class="btn btn-primary" style="margin-top:20px; width:100px"/>
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
