@model BaristaHome.Models.Drink
@{
    ViewData["Title"] = "Add Item";
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Barista Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaristaHome.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" /> <!--Stylesheet-->
</head>
<body>
    <!--Nav bar area-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
            <a class="nav-link pink-button-left" asp-area="" asp-controller="Menu" asp-action="Menu">Cancel</a>
            <div class="center">
                <h1 class="title">Add new drink</h1>
            </div>
            <a class="nav-link pink-button-right" asp-area="" asp-controller="" asp-action="">Add</a>
        </nav>
    </header>

    <div class = "add-drink-top">
        <script>
            var loadFile = function(event) {
                var output = document.getElementById('output');
                output.src = URL.createObjectURL(event.target.files[0]);
                output.onload = function() {
                    URL.revokeObjectURL(output.src) // free memory
                }
            };
        </script>

        <div class = "add-top-left">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DrinkImage">Image</label>
                    <input type="file" accept="image/*" onchange="loadFile(event)" asp-for="DrinkImage" class="form-control" />
                    <span asp-validation-for="DrinkImage" class="text-danger"></span>
                </div>
            </form>
            <img id="output"/>
            <script>
                var loadFile = function(event) {
                    var output = document.getElementById('output');
                    output.src = URL.createObjectURL(event.target.files[0]);
                    output.onload = function() {
                        URL.revokeObjectURL(output.src) // free memory
                    }
                };
            </script>
        </div>

        <div class = "add-top-right">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DrinkName"></label>
                    <input asp-for="DrinkName" class="form-control" />
                    <span asp-validation-for="DrinkName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Instructions"></label>
                    <textarea class="form-control" aria-label="Instructions" rows = 10></textarea>
                    <span asp-validation-for="Instructions" class="text-danger"></span>
                  
                </div>
            </form>
        </div>
    </div>


    <div class = "add-drink-bottom">
        <div class = "add-bottom-left">

        </div>
        <div class = "add-bottom-right">

        </div>
    </div>


    <!--
    <div class="col-md-12">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DrinkName"></label>
            <input asp-for="DrinkName" class="form-control" />
            <span asp-validation-for="DrinkName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Instructions"></label>
            <input asp-for="Instructions" class="form-control" />
            <span asp-validation-for="Instructions" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DrinkImage">Image</label>
            <input asp-for="DrinkImage" class="form-control" />
            <span asp-validation-for="DrinkImage" class="text-danger"></span>
        </div>
    </form>
    </div>
    -->

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Barista Home - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>