@model IEnumerable<BaristaHome.Models.Drink>



@*CINDIE*@

@*CSS styling for displaying the button and drinks*@
<style>

    @*CSS styling for the drink results*@
    .drink-pic{
        width: 200px;
        height: 200px;
    }
    
    .drink-pic-background{
        background-color: antiquewhite;
        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
        padding-top:5px;
        padding-bottom:5px;
        padding-left:5px;
        padding-right:5px;
        display: inline-block;
    }

    @*CSS styling for the back button*@
    .pink-button {
        background-color: pink;
        color: black;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px;
        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 0.15s, color 0.15s;
    }

    .pink-button:hover {
        background-color: lightpink;
        cursor: pointer;
    }

    .pink-button:active {
        background-color: rgba(219, 113, 152, 0.67);
    }

    .center {
        width: 75%;
        text-align: center;
    }
</style>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
        <a class="nav-link pink-button-left" asp-controller="Menu" asp-action="Menu">Back</a>

        <div class="center">
            <h1 class="title">Menu</h1>
        </div>
    </nav>
</header>

<div class="container">
    <p>Showing search results:</p>
    @*ALEX*@
    @*Display Drinks*@
    <div class="drinks">
        @foreach (var item in Model)
        {
            <div style = "display:inline-block; margin-right: 10px; ">
            <a asp-action="Drink" asp-route-id="@item.DrinkId" class="drink-item">
                @*Drink image*@
                <div style ="border: 5px; border-style:solid; border-color: lightpink; box-shadow: 3px 3px 3 rgba(0, 0, 0, 0.15);" class="drink-icon">
                    @*Display default icon if drink has no image*@
                    @if (item.DrinkImageData == null)
                    {
                        <div class="drink-pic-background"> 
                            <img class="drink-pic" src="../images/default_drink.png">
                        
                        </div>

                    }
                    else
                    {@*If drink has a picture, then display that picture*@
                        <div class="drink-pic-background">
                            <img class="drink-pic" src="@Url.Action("RenderImage", new { id = item.DrinkId})" />
                        </div>
                        
                    }
                </div>
                @*Drink Name*@
                <div style = "color: inherit; text-decoration:none; vertical-align:middle;" class="drink-name">
                    <p> @item.DrinkName </p>
                </div>
            </a>
                </div>

        }

    </div>
</div>
