@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!</h1>
    <h2>To Bඞristඞ Home ඞ</h2>
</div>

<div>
    <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Menu">Menu</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Shared Calendar</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Clocking</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Payroll</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Inventory" asp-action="Inventory">Inventory</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Feedback</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Timers</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Checklist</a>
    <a class="nav-link text-dark" asp-area="" asp-controller="WorkerManagement" asp-action="WorkerManagement">Workers</a>
</div>