@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Barista Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaristaHome.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" /> <!--Stylesheet-->
</head>
<body>
    <!--Nav bar area-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
            <a class="nav-link pink-button-left" asp-area="" asp-controller="" asp-action="">Logout</a>
            <div class="center">
                <h1 class="title">Home Page</h1>
            </div>
            <a class="nav-link pink-button-right" asp-area="" asp-controller="WorkerManagement" asp-action="WorkerManagement">Workers</a>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <!--Store Title-->
            <div class="text-center">
                <h2 class="store-name">Generic Store Name</h2>
            </div>
            <!--First row of containers-->
            <div class = "box-row">
                <a class="nav-link feature" asp-area="" asp-controller="menu" asp-action="Menu">Menu</a>
                <a class="nav-link feature" asp-area="" asp-controller="calendar" asp-action="calendar">Shared Calendar</a>
                <a class="nav-link feature" asp-area="" asp-controller="clocking" asp-action="clocking">Clocking</a>
                <a class="nav-link feature" asp-area="" asp-controller="payroll" asp-action="payroll">Payroll</a>
            </div>
            <!--Second row of containers-->
            <div class = "box-row">
                <a class="nav-link feature" asp-area="" asp-controller="inventory" asp-action="inventory">Inventory</a>
                <a class="nav-link feature" asp-area="" asp-controller="feedback" asp-action="feedback">Feedback</a>
                <a class="nav-link feature" asp-area="" asp-controller="timers" asp-action="timers">Timers</a>
                <a class="nav-link feature" asp-area="" asp-controller="checklist" asp-action="checklist">Checklist</a>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Barista Home - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>