@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Barista Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaristaHome.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home.css" asp-append-version="true" /> <!--Stylesheet-->
</head>
<body>
    <!--ALEXvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv-->
    <!--Nav bar area-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
            <a class="nav-link pink-button-left" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            <div class="center">
                <h1 class="title">Home Page</h1>
            </div>
            <!--Using Claims to display different views based on user's role-->
            @if (User.FindFirst("RoleId").Value == "1") // Finding the value of the specified claim (RoleId) and checking if it's a worker (1)
            {
                <a class="nav-link pink-button-right" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
            }
            else
            {
                <a class="nav-link pink-button-right" asp-area="" asp-controller="WorkerManagement" asp-action="WorkerManagement">Workers</a>
            }

        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <!--Store Title-->
            <div class="text-center">
                <h2 class="store-name">@ViewBag.StoreName</h2>
            </div>
            <!--First row of containers-->
            <div class="box-row">

                <a class="nav-link feature" asp-area="" asp-controller="menu" asp-action="Menu">
                    <div class="top">
                        <img class="contain" src="../images/menu.png">
                    </div>
                    <div class="bottom">
                        <p>Menu</p>
                    </div>
                </a>

                <a class="nav-link feature" asp-area="" asp-controller="Calendar" asp-action="Shifts">
                    <div class="top">
                        <img class="contain" src="../images/calendar.png">
                    </div>
                    <div class="bottom">
                        <p>Shared Calendar</p>
                    </div>
                </a>
                <!--ALEX^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->

                <!--SELINAvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv-->
                <!--Using Claims to display different views based on user's role-->
                @if (User.FindFirst("RoleId").Value == "1") // Finding the value of the specified claim (RoleId) and checking if it's a worker (1)
                {
                    //User can go to the corresponding page to change their shift status
                    <a type="submit" class="nav-link feature" asp-controller="Clocking" asp-action="ShiftStatus" asp-route-id="@ViewBag.NewestShiftStatus">
                        <div class="top">
                            <img class="contain" src="../images/clock.png">
                        </div>
                        <div class="bottom">
                            <p>Clocking</p>
                        </div>
                    </a>
                }
                else
                {
                    //Page for admins to view all workers (users) shift statuses
                    <a class="nav-link feature" asp-area="" asp-controller="Clocking" asp-action="Clocking">
                        <div class="top">
                            <img class="contain" src="../images/clock.png">
                        </div>
                        <div class="bottom">
                            <p>Clocking</p>
                        </div>
                    </a>
                }
                    
                <!--SELINA^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->
                
                <!--ALEXvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv-->
                <!--Using Claims to display different views based on user's role-->
                @if (User.FindFirst("RoleId").Value == "1") // Finding the value of the specified claim (RoleId) and checking if it's a worker (1)
                {
                    <a class="nav-link feature" asp-area="" asp-controller="payroll" asp-action="worker">
                        <div class="top">
                            <img class="contain" src="../images/payroll.png">
                        </div>
                        <div class="bottom">
                            <p>Payroll</p>
                        </div>
                    </a>
                }
                else
                {
                    <a class="nav-link feature" asp-area="" asp-controller="payroll" asp-action="owner">
                        <div class="top">
                            <img class="contain" src="../images/payroll.png">
                        </div>
                        <div class="bottom">
                            <p>Payroll</p>
                        </div>
                    </a>
                }
@*                <a class="nav-link feature" asp-area="" asp-controller="payroll" asp-action="payroll">
                    <div class="top">
                        <img class="contain" src="../images/payroll.png">
                    </div>
                    <div class="bottom">
                        <p>Payroll</p>
                    </div>
                </a>*@
            </div>
            <!--Second row of containers-->
            <div class="box-row">
                <a class="nav-link feature" asp-area="" asp-controller="inventory" asp-action="index">
                    <div class="top">
                        <img class="contain" src="../images/inventory.png">
                    </div>
                    <div class="bottom">
                        <p>Inventory</p>
                    </div>
                </a>
                <a class="nav-link feature" asp-area="" asp-controller="feedback" asp-action="feedback">
                    <div class="top">
                        <img class="contain" src="../images/feedback.png">
                    </div>
                    <div class="bottom">
                        <p>Feedback</p>
                    </div>
                </a>
                <a class="nav-link feature" asp-area="" asp-controller="timers" asp-action="timers">
                    <div class="top">
                        <img class="contain" src="../images/timer.png">
                    </div>
                    <div class="bottom">
                        <p>Timers</p>
                    </div>
                </a>
                <a class="nav-link feature" asp-area="" asp-controller="checklist" asp-action="checklist">
                    <div class="top">
                        <img class="contain" src="../images/todo.png">
                    </div>
                    <div class="bottom">
                        <p>Checklist</p>
                    </div>
                </a>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Barista Home - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--ALEX^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^-->
</body>
</html>