/*CSS for Clcoking System*/
html {
    font-size: 14px;
    background-color: #ffe4bc;
}

body {
    margin-bottom: 60px;
    background-color: #ffe4bc;
    font-family: 'Inter', sans-serif;
}

.option-button {
    border: 2px solid;
    background-color: #FFD9F4;
    font-size: 24px;
    font-family: Arial;
    cursor: pointer;
    border-color: #FFD9F4;
    color: black;
    width: 300px;
    height: 300px;
    margin: 10px 10px 10px 10px;
    border-radius: 12px;
}

.option-top {
    /*border: 1px solid black;*/
    height: 350px;
    width: 850px;
    margin-top: 50px;
}

.option-bottom {
    /*border: 1px solid black;*/
    height: 350px;
    width: 850px;
    margin-top: 50px;
}

.card-columns {
    background-color: #ffe4bc;

    @include media-breakpoint-only(lg) {
        column-count: 4;
    }

    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}