/*CSS for Checklist*/

/*SELINAvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv*/
html {
    font-size: 14px;
    background-color: #ffe4bc;
}

body {
    background-color: #ffe4bc;
    font-family: 'Inter', sans-serif;
}

/*img {
    float: right;
}*/

.table-inventory {
    width: 105.25%;
}

.table-inventory th {
    padding-right: 10px;
}

.table-inventory td {
    padding-right: 10px;
}


.table-inventory th:last-child, td:last-child {
    background: #ffe4bc;
    width: 5%;
}

/*Background for checklist cards*/
.pb-3 {
    background-color: #ffe4bc;
}

.card-columns {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 80%;
}

.header-color {
    background-color: #ffdcf4 !important;
}

.btn-function {
    background-color: mistyrose;
    color: black;
    border-color: mistyrose;
}

.btn-function:hover {
    background-color: white;
    color: black;
}

.img-size img {
    margin-right: 5px;
    vertical-align: middle;
    width: 18px;
    height: 18px;
}
/*SELINA^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/