/*Selina*/
/*CSS for Clocking System*/
.shift-statuses {
/*    border: 1px solid black;*/    
    height: 550px;
    width: 350px;
    margin-top: 50px;
}

.shift-button {
    border: 2px solid;
    background-color: #FFD9F4;
    font-size: 24px;
    font-family: Arial;
    cursor: pointer;
    border-color: #FFD9F4;
    color: black;
    display: block;
    width: 100%;
    margin-bottom: 50px;
    padding: 32px 16px;
    border-radius: 12px;
}

.shift-button:hover {
    background-color: #EF9CD8;
    color: black;
}

.all-statuses{
    margin-top: 50px;
    width: 80%;
}

.user-img {
    width:inherit;
    height: 160px;
    object-fit: contain;
}

.card {
    width: 320px;
    border-radius:5px;
}

.btn-function {
    background-color: mistyrose;
    color: black;
    border-color: mistyrose;
}

.btn-function:hover {
    background-color: white;
    color: black;
}