body {
    background-color: #ffe2af;
}

.box-row {
    margin-top: 2%;
    object-fit: contain;
    min-width: fit-content;
    height: 300px;
}

.worker-div {
    align-items: end
}

.black {
    background-color: #feb6fc;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 3%;
    float: left;
    width: 250px;
    height: 250px;
    display: flex;
    padding: 10px;
    align-items: center;
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: 'Comic Sans MS';
    box-shadow: -9px 6px 11px rgba(201, 125, 200, 0.6);
}

.workers {
    background-color: #feb6fc;
    box-shadow: -9px 6px 11px rgba(201, 125, 200, 0.6);
    color: black;
    font-family: 'Comic Sans MS';
    width: 200px;
    height: 50px;
    display: inherit;
    align-items: center;
    text-align: center;
    float: right;
    margin-right: 50px;
    padding-left: 49%;
}

.testing {
    background-color: #feb6fc;
    width: 200px;
    height: 50px;
    text-align: center;
    float: right;
    margin-right: 50px;
}