
body {
  
}

.btn-float-right a {
    float: right;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 100px;
    background-color: #ffdcf4;
    color: black;
}



.pink-button-right {
    background-color: #DFB3D3;
    color: black;
    font-family: 'Inter';
    width: 200px;
    height: 50px;
    float: right;
    margin-right: 45px;
    text-decoration-line: none;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    object-fit: contain;
}

.pink-button-left {
    background-color: #DFB3D3;
    color: black;
    font-family: 'Inter';
    width: 200px;
    height: 50px;
    float: left;
    margin-left: 45px;
    text-decoration-line: none;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.table:nth-of-type(odd) {
    background-color: #f0ecec;
}
