.center {
    width: 75%;
    text-align: center;
}

.pink-button-right {
    background-color: #DFB3D3;
    color: black;
    font-family: 'Inter';
    width: 200px;
    height: 50px;
    float: right;
    margin-right: 45px;
    text-decoration-line: none;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
    object-fit: contain;
}

.pink-button-left {
    background-color: #DFB3D3;
    color: black;
    font-family: 'Inter';
    width: 200px;
    height: 50px;
    float: left;
    margin-left: 45px;
    text-decoration-line: none;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.store-name {
    margin-top: 50px;
    font-size: 50px
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
