@import url('https://rsms.me/inter/inter.css');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ffe4bc;
    font-family: 'Inter', sans-serif;
}

.capitalize-first-letter {
    text-transform: lowercase;
}

.capitalize-first-letter::first-letter {
        text-transform: uppercase;
}