@import url('https://rsms.me/inter/inter.css');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #ffe4bc;
    font-family: 'Inter', sans-serif;
}

.capitalize-first-letter {
    text-transform: lowercase;
}

.capitalize-first-letter::first-letter {
        text-transform: uppercase;
}

/*.modal-content {
    background: #ffe4b4;
}*/

.modal-body {
    background-color: #ffe4bc;
}

.modal-footer {
    background-color: #ffe4bc;
}

.modal-header {
    background-color: #ffdcf4;
}

.btn-function {
    background-color: mistyrose;
    color: black;
    border-color: mistyrose;
}

.btn-primary, .btn-outline-dark {
    background-color: #ffdcf4 !important;
}

.title {
    margin: auto;
}

a:hover {
    color: #0a58ca;
}

button:hover {
    color: #0a58ca;
}