@model BaristaHome.Models.Checklist
@{
    ViewData["Title"] = "Checklist";
}

<!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Barista Home</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/BaristaHome.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" /> <!--Stylesheet-->
        <link rel="stylesheet" href="~/css/Checklist.css" asp-append-version="true" /> 

        <!--Bootstrap Imports-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>


    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
                <a class="nav-link pink-button-left" asp-area="" asp-controller="" asp-action="">Back</a>
                <div class="center">
                    <h1 class="title">Checklist</h1>
                </div>

                <!-- Button trigger modal -->
                <a class="nav-link pink-button-right" data-toggle="modal" data-target="#exampleModal">
                    Create
                </a>
                
                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Launch demo modal
                </button>*@

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Checklist</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form method="post">
                          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                          <div class="modal-body">
                              <label asp-for="ChecklistTitle"></label>
                              <input asp-for="ChecklistTitle" class="form-control" />
                              <span asp-validation-for="ChecklistTitle" class="text-danger"></span>
                          
                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Create</button>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
            </nav>
        </header>
        <div align="center">
            @*4 box option*@
            @*<div class="option-boxes">
                <div class="option-top">
                    <button type="submit" class="btn option-button">Create Checklist</button>
                    <button type="submit" class="btn option-button">Edit Checklist</button>
                </div>
                <div class="option-bottom">
                    <button type="submit" class="btn option-button">Mark Checklist</button>
                    <button type="submit" class="btn option-button">Remove Checklist</button>
                </div>
            </div>*@

            @*Shows all the existing checklists in the store*@
            <div class="card-columns">
                @{
                    var myList = ViewBag.Checklist==null ? new List<Checklist>() : (List<Checklist>)ViewBag.Checklist;

                    if(myList.Any()) {
                        foreach(var c in myList)
                        {
                            <a asp-action="ViewChecklist" asp-route-id="@c.ChecklistId">
                                <div class="card p-3">
                                    <blockquote class="blockquote mb-0 card-body">
                                        <p>@c.ChecklistTitle</p>
                                        <footer class="blockquote-footer">
                                            <small class="text-muted">
                                                # of tasks
                                            </small>
                                        </footer>
                                    </blockquote>
                                </div>
                            </a>
                        }
                    }
                }
                
            
             </div>
        </div>

        
        



    </body>
</html>