@model BaristaHome.Models.Checklist

@{
    ViewData["Title"] = "Edit Checklist";
    Layout = null;
}

<!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Barista Home</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/BaristaHome.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" /> <!--Stylesheet-->
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
                <a class="nav-link pink-button-left" asp-area="" asp-controller="Checklist" asp-action="Checklist">Back</a>
                <div class="center">
                    <h1 class="title">Edit @Html.DisplayFor(model => model.ChecklistTitle)</h1>
                </div>
                <a class="nav-link pink-button-right">Save</a>
            </nav>
        </header>



     </body>
</html>
